<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:tiles="http://www.thymeleaf.org" lang="en">
    <head>
        <title>TRIP</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div th:fragment="tabular(trips)" th:remove="tag">



            <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped dataTable no-footer">

                <thead>
                    <tr>
                        <th class="col-sm-2 text-center" data-th-text="#{label.trip.number}">Trip number</th>
                        <th class="col-sm-1 text-center" data-th-text="#{label.cfr}">CFR</th>
                        <th class="col-sm-1 text-center" data-th-text="#{label.vessel.name}">Vessel Name</th>
                        <th class="col-sm-1 text-center" data-th-text="#{label.departure.date}">Departure Date</th>
                        <th class="col-sm-1 text-center" data-th-text="#{label.departure.time}">Departure Time</th>
                        <th class="col-sm-1 text-center" data-th-text="#{label.rtp.date}">RTP</th>
                        <th class="col-sm-1 text-center" data-th-text="#{label.partial.landing}">Part. Landing</th>
                        <th class="col-sm-2 text-center" data-th-text="#{label.action}">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="trip : ${trips}">
                        <td data-th-text="${trip.tripNumber}">1</td>
                        <td data-th-text="${trip.vessel.vesselCFRId}">Vessel CFR Id</td>
                        <td data-th-text="${trip.vessel.vesselName}">Vessel Name</td>
                        <td data-th-text="${trip.dateOfDep}" class="text-center">DEP</td>
                        <td data-th-text="${trip.dateOfDep}" class="text-center">DEP</td>
                        <td th:if="${trip.dateOfRtp}" th:text="${trip.dateOfRtp}">RTP</td>
                        <td th:unless="${trip.dateOfRtp}" th:text="#{label.trip.unfinished}" class="btn-danger">RTP</td>
                        <td class="text-center"> 
                            <i th:if="${trip.partialLanding}" class="fa fa-check-square-o"></i>
                            <i th:unless="${trip.partialLanding}" class="fa fa-square-o"></i>
                        </td>
                        <td style="text-align: center;">
                            <a href="#" data-th-href="@{/trip/show(tripNumber=${trip.tripNumber})}">
                                <button type="button" class="btn btn-default btn-xs">
                                    <i class="fa fa-camera"></i>
                                    <span th:remove="tag" th:text="#{label.action.show}">&nbsp;&nbsp;Show</span>
                                </button></a>&nbsp; 
                            <a href="#" data-th-href="@{/trip/transfer(tripNumber[]=${trip.tripNumber})}">
                                <button type="button" class="btn btn-primary btn-xs">
                                    <i class="fa fa-play-circle"></i>
                                    <span th:remove="tag" th:text="#{label.action.transfer}">&nbsp;&nbsp;Transfer</span>
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div th:fragment="property(trip, cssClass)" th:remove="tag">
            <div th:class="${cssClass}">
                <div class="body">
                    <dl class="dl-horizontal">
                        <dt th:text="#{label.trip.number}">Trip number</dt>
                        <dd th:text="${trip.tripNumber}">1</dd>
                        <dt th:text="#{label.vessel.name}">Vessel Name</dt>
                        <dd th:text="${trip.vessel.vesselName}">Vessel Name</dd>
                        <dt th:text="#{label.departure.date}">Departure Date</dt>
                        <dd th:text="${trip.dateOfDep}">DEP</dd>
                        <dt th:text="#{label.departure.time}">Departure Time</dt>
                        <dd th:text="${trip.dateOfDep}" >DEP</dd>
                        <dt th:text="#{label.rtp.date}">RTP</dt>                 
                        <dd th:if="${trip.dateOfRtp}" th:text="${trip.dateOfRtp}">RTP</dd>
                        <dd th:unless="${trip.dateOfRtp}" th:text="#{label.trip.unfinished}" class="btn-danger">RTP</dd>
                        <dt th:text="#{label.partial.landing}">Part. Landing</dt>
                        <dd> 
                            <i th:if="${trip.partialLanding}" class="fa fa-check-square-o"></i>
                            <i th:unless="${trip.partialLanding}" class="fa fa-square-o"></i>
                        </dd>
                    </dl>
                </div>
            </div>
            <div th:class="${cssClass}">
                <div class="body">
                    <dl class="dl-horizontal">
                        <dt th:text="#{label.vessel.name}">Vessel Name</dt>
                        <dd>
                            <div th:if="${not #strings.isEmpty(trip.vessel.flagStateOfVesselRegistration)}" th:remove="tag">
                                <img th:src="@{'/assets/img/flags/'+${#strings.toLowerCase(#strings.substring(trip.vessel.flagStateOfVesselRegistration,0,2))}+'.png'}" src="../../assets/img/flags/europeanunion.png"/>
                                &nbsp;</div><span th:text="${trip.vessel.vesselName}" th:remove="tag">Vessel Name</span>
                        </dd>                                       
                        <dt th:text="#{label.cfr}">CFR</dt>
                        <dd th:text="${trip.vessel.vesselCFRId}">Vessel CFR Id</dd>
                        <dt th:text="#{label.iccat.number}">ICCAT Number</dt>
                        <dd th:text="${trip.vessel.vesselICCATNumber}">Vessel ICCAT Id</dd>
                        <dt th:text="#{label.imo.number}">IMO Number</dt>
                        <dd th:text="${trip.vessel.vesselIMONumber}">Vessel IMO Id</dd>
                        <dt th:text="#{label.master.name}">Master Name</dt>
                        <dd th:text="${trip.masterName}">Master Name</dd>
                    </dl>
                </div>
            </div>
        </div>
    </body>
</html>
