<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"        
      layout:decorator="layouts/main">
    <head>
        <title th:text="#{title.user.preferences}">Title</title>        
    </head>
    <body>
        <div class="container" layout:fragment="primary-content">
            <div class="">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>
                            <i class="fa fa-cog"></i>                            
                            <span th:text="#{title.user.preferences}" th:remove="tag"></span>
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="box">
                        <header>
                            <h3> <i class="fa fa-user"></i> 
                                <span th:text="#{label.preferences.edit.user}">Starter</span>
                            </h3>                 
                        </header>
                        <div class="body collapse in" >
                            <form class="form-horizontal"  action="#" th:action="@{/preferences/save}" 
                                  th:object="${current_user}" method="post" accept-charset="utf-8">
                                <input type="hidden" th:value="${current_user.topiaid}"  th:field="${current_user.topiaid}" name="id" />
                                <div class="row"> 
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="userlogin" class="control-label col-lg-4"  th:text="#{label.field.login}" >Login Field</label>
                                            <div class="col-lg-6">
                                                <input readonly="" id="userlogin" th:placeholder="#{label.field.login}" th:field="${current_user.login}" th:value="${current_user.getLogin()}" class="form-control" type="text"/>
                                            </div>
                                        </div><!-- /.form-group -->
                                        <div class="form-group" th:classappend="${#fields.hasErrors('firstname')}? 'has-error'">
                                            <label for="userfirstname" class="control-label col-lg-4" th:text="#{label.field.firstname}">user Name</label>
                                            <div class="col-lg-6">
                                                <input th:readonly="${current_user.getType()!=0}" id="userfirstname" th:placeholder="#{label.field.firstname}" th:value="${current_user.getFirstname()}" th:field="${current_user.firstname}" class="form-control" type="text"/>
                                                <span th:if="${#fields.hasErrors('firstname')}"
                                                      th:id="error-firstname" class="help-block" th:errors="*{firstname}"></span>
                                            </div>
                                        </div><!-- /.form-group -->
                                        <div class="form-group" th:classappend="${#fields.hasErrors('lastname')}? 'has-error'">
                                            <label for="userlastname" class="control-label col-lg-4" th:text="#{label.field.lastname}">user lastname</label>
                                            <div class="col-lg-6">
                                                <input th:readonly="${current_user.getType()!=0}" id="userlastname" th:placeholder="#{label.field.lastname}" th:value="${current_user.getLastname()}" class="form-control" th:field="${current_user.lastname}" type="text"/>
                                                <span th:if="${#fields.hasErrors('lastname')}"
                                                      th:id="error-lastname" class="help-block" th:errors="*{lastname}"></span>
                                            </div>
                                        </div><!-- /.form-group -->
                                        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                                            <label for="useremail" class="control-label col-lg-4"  th:text="#{label.field.email}" >Email Field</label>
                                            <div class="col-lg-6">
                                                <input th:readonly="${current_user.getType()!=0}" id="useremail" th:placeholder="#{label.field.email}" th:value="${current_user.getEmail()}" class="form-control" type="email" th:field="${current_user.email}"/>
                                                <span th:if="${#fields.hasErrors('email')}"
                                                      th:id="error-email" class="help-block" th:errors="*{email}"></span>
                                            </div>
                                        </div><!-- /.form-group -->      
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <input  id="userpassword" th:value="${current_user.getPassword()}" class="form-control" th:field="${current_user.password}" type="hidden" readonly="" />
                                                <span th:if="${#fields.hasErrors('password')}"
                                                      th:id="error-password" class="help-block" th:errors="*{password}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="useruri" class="control-label col-lg-4"  th:text="#{label.field.uri}" >Uri Field</label>
                                            <div class="col-lg-6">
                                                <input id="useruri" th:readonly="${current_user.getType()!=0}" th:placeholder="#{label.field.uri}" th:field="${current_user.uri}" th:value="${current_user.getUri()}" class="form-control" type="text"/>
                                            </div>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="userphone"  class="control-label col-lg-4"  th:text="#{label.field.phone}" >Phone Field</label>
                                            <div class="col-lg-6">
                                                <input id="userphone" th:readonly="${current_user.getType()!=0}" th:placeholder="#{label.field.phone}" th:field="${current_user.phone}" th:value="${current_user.getPhone()}" class="form-control" type="text"/>
                                            </div>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="userorganism" class="control-label col-lg-4"  th:text="#{label.field.organism}" >Organism Field</label>
                                            <div class="col-lg-6">
                                                <input id="userorganism" th:readonly="${current_user.getType()!=0}"  th:placeholder="#{label.field.organism}" th:field="${current_user.organism}" th:value="${current_user.getOrganism()}" class="form-control" type="text"/>
                                            </div>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="userservice"  class="control-label col-lg-4"  th:text="#{label.field.service}" >Service Field</label>
                                            <div class="col-lg-6">
                                                <input id="userservice" th:readonly="${current_user.getType()!=0}"  th:placeholder="#{label.field.service}" th:field="${current_user.service}" th:value="${current_user.getService()}" class="form-control" type="text"/>
                                            </div>
                                        </div><!-- /.form-group -->
                                        <div class="form-group">
                                            <label for="userlocation"   class="control-label col-lg-4"  th:text="#{label.field.location}" >Location Field</label>
                                            <div class="col-lg-6">
                                                <input id="userlocation" th:readonly="${current_user.getType()!=0}"  th:placeholder="#{label.field.location}" th:field="${current_user.location}" th:value="${current_user.getLocation()}" class="form-control" type="text"/>
                                            </div>
                                        </div><!-- /.form-group -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-offset-4 col-lg-4 input-group">
                                        <a href="#" data-th-href="@{/preferences/password}">
                                            <button th:disabled="${current_user.getType()!=0}" id="ChangePasswordUser" class="btn btn-default" type="button">
                                                <i class="fa fa-play-circle"></i>
                                                <span th:remove="tag" th:text="#{label.action.change.password}">&nbsp;&nbsp;Change Password User</span>
                                            </button>
                                        </a>
                                        <button th:disabled="${current_user.getType()!=0}" id="SaveUser" type="submit" class="btn btn-primary">

                                            <i class="fa fa-play-circle"></i>
                                            <span th:remove="tag" th:text="#{label.action.save}">&nbsp;&nbsp;Save user</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout:fragment="javascript-extends" th:remove="tag">
        </div>
    </body>
</html>